html { 
  background: url('media/sheet-music-sm.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 18px;
}

kbd {
  display: block;
  font-size: 24px;
  font-family: default;
}

span {
  color: orange;
  font-size: 15px;
  white-space: nowrap;
}

.container {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 60px auto;
  text-align: center;
  color: white;
  max-width: fit-content;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 10px auto;
  }
}

.instruments {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
}

.instrumentContainer {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  width: 160px;
  padding: 5px;
  margin: 5px;
}

.instrumentContainerD {
  background-color: rgba(80, 0, 0, 0.5);
}

.instrumentContainerG {
  background-color: rgba(0, 80, 0, 0.5);
}

.keysContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.drums {
  transition: 0.3s;
  transition: all 0.07s;
}

.guitars {
  transition: 0.3s;
  transition: all 3.0s;
}

.key {
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  margin: 5px;
  color: white;
  text-align: center;
  flex: 1 0 20%;
}

.playingD {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.playingG {
  transform: scale(1.3);
  border-color: rgb(0, 206, 0);
  box-shadow: 0 0 10px rgb(0, 206, 0);
}
